
/* для тестирования */
body {
	font-family: 'Roboto', "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
}

.main-header {
	background-color: #eeeeee;
	color: #000000;
}

.main-footer, .main-index {
	background-color: #ffffff;
	color: #000000;
}

.main-header a {
	text-decoration: none;
}

/*Главные блоки
.container,
.main-footer { 
	border: 3px solid red;
}
второстепенные блоки
.main-navigator {
	border: 2px solid blue;

} 
вложенные во второстепенные блоки
.logo,
.main-navigator,
.cart,
.main-slider { 
	border: 1px solid yellow;
}
*/


/*---Общее----*/
figure {
	margin: 0;
}

.container {
	width: 880px;
	margin: 0 auto;
	padding: 0 10px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.btn {
	padding: 10px 40px;
	font-size: 12px;
	line-height: 18px;
	background-color: #fb565a;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 4px;
}

.main-footer {
	padding-top: 77px;
	padding-bottom: 75px;
}

.social {
	float: left;
	width: 240px;
	margin-right: 80px;
}

.discont {
	float: left;
	width: 550px;
}

/*------Временное----*/
.social-element {
	display: inline-block;
	margin-right: 25px;
}
/*--------------------*/


/*----------------------
		Сетка			
----------------------*/

/*-----index.html-----*/
.logo {
	float: left;
	padding-top: 27px;
	margin-right: 183px;
	width: 139px;
	height: 56px;
}

.main-navigator {
	float: left;
	padding-top: 54px;
	font-size: 0;
	list-style: none;
}

.main-navigator ul {
	padding: 0;
}

.main-navigator li {
	margin-right: 45px;
	font-size: 14px;
	line-height: 30px;
}

.main-navigator li:last-child {
	margin-right: 0;
}

.main-navigator a,
.cart a {
	color: #000000;
	text-transform: uppercase;
}

.cart {
	float: right;
	padding-left: 35px;
	padding-top: 54px;
	font-size: 14px;
	line-height: 30px;
	
}

.main-slider {
	position: relative;
	min-height: 353px;	
}

.slider-description {
	padding-top: 72px;
	float: left;
	width: 470px;
}

.slider-description h2 {
	margin: 0;
	margin-bottom: 18px;
	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
}

.slider-description p {
	margin: 0;
	margin-bottom: 35px;
}

.slider-btn {
	padding: 12px 70px;
	margin-bottom: 80px;
}

.slider-switch {
	position: absolute;
	left: 50%;
	bottom: 89px;
	margin-left: -34px;
}

.slider-switch strong {
	display: inline-block;
	margin-right: 4px;
	background-color: #ffffff;
	border-radius: 5px;
	width: 10px;
	height: 10px;

}

.slider-img {
	position: absolute;
	right: -2px;
	bottom: 64px;
/*	float: right; */
	width: 340px;
}

/*перенести в другой блок*/
.main-navigator li {
	display: inline-block;
}
/*-----------------------*/

.potential {
	padding-top: 80px;
	margin-bottom: 77px;
}

.potential-element {
	float: left;
	width: 240px;
	margin-right: 80px;

}

.potential-element:nth-child(3n) {
	margin-right: 0;
}

.potential-element img {
	width: 240px;
	height: 124px;
	margin-bottom: 17px;
}

.potential-element b {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
}

.potential-element p {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 30px;
}

.about {
	margin-bottom: 20px;
	padding-top: 70px;
}

.about-info {
	float: left;
	width: 619px;
}

.about-info strong {
	font-size: 36px;
	line-height: 36px;
}

.about h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 22px;
}

.about-info .principles {
	margin-bottom: 44px;
}

.about ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.about li {
	padding-left: 35px;
	margin-bottom: 23px;
}

.about-stat {
	float: right;
	width: 240px;
}

.about-logo {
	padding-top: 4px;
	padding-left: 8px;
	margin-bottom: 65px;
	text-align: center;
}

.about-logo img {
	display: block;
	margin: 0 auto;
	width: 187px;
	height: 75px;
	margin-bottom: 27px;
}

.about-logo .since {
	display: inline-block;
	padding: 0 70px;
	text-transform: uppercase;

}

.projects {
	padding-top: 70px;
	padding-left: 5px;
	padding-bottom: 35px;
	margin-bottom: 81px;
}

.projects-element {
	display: inline-block;
	margin-right: 120px;
	vertical-align: middle;
}

.projects-element:nth-child(3n) {
	display: inline-block;
	margin-right: 0;
	width: 230px;
	vertical-align: middle;
}

.map {
	width: 1200px;
	margin: 0 auto;
}

.social-element {
	width: 40px;
	height: 40px;
}

.discont strong {
	display: block;
	font-size: 36px;
	font-weight: 400;
}

/*-----catalog.html-----*/

.main-header-catalog {
	min-height: 330px;
}

.header-caption {
	padding-top: 70px;
	padding-bottom: 90px;
	text-align: center;
}

.header-caption h1 {
	font-size: 40px;
	font-weight: 400;
	line-height: 48px;
}

.catalog-parameter {
	float: left;
	width: 240px;
	margin-right: 80px;
}

.catalog-wrapper {
	float: left;
	width: 560px;
}

.catalog-item {
	float: left;
	width: 240px;
	margin-right: 80px;
	margin-bottom: 80px;
}

.catalog-item:nth-child(2n) {
	margin-right: 0;
}

.catalog-btn {
	float: left;
	margin-bottom: 80px;
}