
/* для тестирования */
body {
	font-family: 'Roboto', "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
}

.main-header-index {
	height: 436px;
	background-color: #eeeeee;
	color: #000000;
}

.main-footer, .main-index {
	background-color: #ffffff;
	color: #000000;
}

.main-header-index a {
	text-decoration: none;
}

/*Главные блоки*/
.container,
.main-footer { 
	border: 3px solid red;
}
/*второстепенные блоки*/
.main-navigator {
	border: 2px solid blue;

} 
/*вложенные во второстепенные блоки*/
.logo,
.main-navigator,
.cart,
.wrapper { 
	border: 1px solid yellow;
}


/*---Общее----*/
figure {
	margin: 0;
}

.container {
	width: 880px;
	margin: 0 auto;
	padding: 0 10px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.main-footer {
	padding-top: 80px;
	padding-bottom: 75px;
}

.social {
	float: left;
	width: 240px;
	margin-right: 80px;
}

.discont {
	float: left;
	width: 550px;
}

/*------Временное----*/
.social-element {
	display: inline-block;
	margin-right: 25px;
}
/*--------------------*/


/*----------------------
		Сетка			
----------------------*/

/*-----index.html-----*/



.logo {
	float: left;
	padding-top: 27px;
	margin-right: 180px;
	width: 139px;
	height: 56px;
}

.main-navigator {
	float: left;
	padding-top: 54px;
	font-size: 0;
	list-style: none;
}

.main-navigator ul {
	padding: 0;
}

.main-navigator li {
	margin-right: 40px;
	font-size: 14px;
	line-height: 30px;
}

.main-navigator li:last-child {
	margin-right: 0;
}

.main-navigator a,
.cart a {
	color: #000000;
}

.cart {
	float: right;
	padding-left: 35px;
	padding-top: 54px;
	font-size: 14px;
	line-height: 30px;
	
}

.slider-description {
	float: left;
	width: 460px;
}

.slider-img {
	float: right;
	width: 340px;
}

/*перенести в другой блок*/
.main-navigator li {
	display: inline-block;
}
/*-----------------------*/

.potential {
	padding-top: 80px;
	margin-bottom: 80px;
}

.potential-element {
	float: left;
	width: 240px;
	margin-right: 80px;

}

.potential-element:nth-child(3n) {
	margin-right: 0;
}

.about {
	margin-bottom: 70px;
	padding-top: 70px;
}

.about-info {
	float: left;
	width: 620px;
}

.about-stat {
	float: right;
	width: 240px;
}

.projects {
	padding-top: 50px;
	padding-bottom: 35px;
	margin-bottom: 85px;
}

.projects-element {
	display: inline-block;
	margin-right: 100px;
	width: 220px;
	vertical-align: middle;
}

.projects-element:nth-child(3n) {
	display: inline-block;
	margin-right: 0;
	width: 230px;
	vertical-align: middle;
}

.map {
	width: 1200px;
	margin: 0 auto;
}

/*-----catalog.html-----*/

.main-header-catalog {
	min-height: 330px;
}

.header-caption {
	padding-top: 70px;
	padding-bottom: 90px;
	text-align: center;
}

.catalog-parameter {
	float: left;
	width: 240px;
	margin-right: 80px;
}

.catalog-wrapper {
	float: left;
	width: 560px;
}

.catalog-item {
	float: left;
	width: 240px;
	margin-right: 80px;
	margin-bottom: 80px;
}

.catalog-item:nth-child(2n) {
	margin-right: 0;
}

.catalog-btn {
	float: left;
	margin-bottom: 80px;
}