
/* для тестирования */
body {
	font-family: 'Roboto', "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
}

header {
	background-color: #eeeeee;
}

.main-header {
	color: #000000;
}

.main-footer, .main-index {
	background-color: #ffffff;
	color: #000000;
}

.main-header a {
	text-decoration: none;
}

/*---Общее----*/
figure {
	margin: 0;
}

.container {
	width: 880px;
	margin: 0 auto;
	padding: 0 10px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.btn {
	padding: 10px 40px;
	font-size: 12px;
	line-height: 18px;
	background-color: #fb565a;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 4px;
}

.main-footer {
	padding-top: 77px;
	padding-bottom: 75px;
}

.social {
	float: left;
	width: 240px;
	margin-right: 80px;
}

.discont {
	float: left;
	width: 550px;
}

/*------Временное----*/
.social-element {
	display: inline-block;
	margin-right: 25px;
}
/*--------------------*/


/*----------------------
		Сетка			
----------------------*/

/*-----index.html-----*/
.logo {
	float: left;
	padding-top: 27px;
	margin-right: 183px;
	width: 139px;
	height: 56px;
}

.main-navigator {
	float: left;
	padding-top: 54px;
	font-size: 0;
	list-style: none;
}

.main-navigator ul {
	padding: 0;
}

.main-navigator li {
	margin-right: 45px;
	font-size: 14px;
	line-height: 30px;
}

.main-navigator li:last-child {
	margin-right: 0;
}

.main-navigator a,
.cart a {
	color: #000000;
	text-transform: uppercase;
}

.main-navigator a:hover,
.cart a:hover {
	color: #fb565a;
}

.main-navigator a:active,
.cart a:active {
	color: #ababab;
}

.current-page {
	border-bottom: 3px solid #fb565a;
}


.cart {
	float: right;
	padding-left: 35px;
	padding-top: 54px;
	font-size: 14px;
	line-height: 30px;
	
}

.main-slider {
	position: relative;
	min-height: 353px;	
}

.slide-1 {
	display: ;
}

.slide-2 {
	display: none;
}


.slide-3 {
	display: none;
}

.current-slide {
	position: relative;
}

.current-slide::before {
	position: absolute;
	top: 3px;
	left: 3px;
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background-color: #c1c1c1;
}

.slider-description {
	padding-top: 72px;
	float: left;
	width: 470px;
}

.slider-description h2 {
	margin: 0;
	margin-bottom: 18px;
	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
}

.slider-description p {
	margin: 0;
	margin-bottom: 35px;
}

.slider-btn {
	padding: 12px 70px;
	margin-bottom: 80px;
}

.slider-switch {
	position: absolute;
	left: 50%;
	bottom: 89px;
	margin-left: -34px;
}

.slider-switch strong {
	display: inline-block;
	margin-right: 4px;
	background-color: #ffffff;
	border-radius: 5px;
	width: 10px;
	height: 10px;
}

.slider1-img {
	position: absolute;
	right: -2px;
	bottom: 64px;
	width: 340px;
	height: 231px;
}

.slider2-img {
	position: absolute;
	right: 10px;
	bottom: 65px;
	width: 230px;
	height: 249px;
}

.slider3-img {
	position: absolute;
	right: 7px;
	bottom: 0;
	width: 333px;
	height: 319px;
}



/*перенести в другой блок*/
.main-navigator li {
	display: inline-block;
}
/*-----------------------*/

.potential {
	padding-top: 80px;
	margin-bottom: 77px;
}

.potential-element {
	float: left;
	width: 240px;
	margin-right: 80px;

}

.potential-element:nth-child(3n) {
	margin-right: 0;
}

.potential-element img {
	width: 240px;
	height: 124px;
	margin-bottom: 17px;
}

.potential-element b {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 400;
}

.potential-element p {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 30px;
}

.potential-btn-red {
	background-color: #fb565a;
}

.potential-btn-red:hover {
	background-color: #d6494d;
}

.potential-btn-red:active {
	background-color: #b63538;
	box-shadow: inset 0 3px #9b2d30;
}

.potential-btn-green {
	background-color: #00ca74;
}

.potential-btn-green:hover {
	background-color: #01a25e;
}

.potential-btn-green:active {
	background-color: #009053;
	box-shadow: inset 0 3px #007b47;
}

.potential-btn-yellow {
	background-color: #efc84a;
}

.potential-btn-yellow:hover {
	background-color: #d6ae2c;
}

.potential-btn-yellow:active {
	background-color: #c09b24;
	box-shadow: inset 0 3px #a3841f;
}

.about {
	margin-bottom: 20px;
	padding-top: 70px;
}

.about-info {
	float: left;
	width: 619px;
}

.about-info strong {
	font-size: 36px;
	line-height: 36px;
}

.about h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 22px;
}

.about-info .principles {
	margin-bottom: 44px;
}

.about ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.about li {
	position: relative;
	padding-left: 35px;
	margin-bottom: 23px;
}

.about li:after {
	position: absolute;
	left: 0;
	top: 10px;
	content: "";
	width: 25px;
	height: 2px;
	background: url("../img/decor-line.jpg") no-repeat;

}

.about-stat {
	float: right;
	width: 240px;
}

.about-logo {
	padding-top: 4px;
	padding-left: 8px;
	margin-bottom: 65px;
	text-align: center;
}

.about-logo img {
	display: block;
	margin: 0 auto;
	width: 187px;
	height: 75px;
	margin-bottom: 27px;
}

.about-logo .since {
	display: inline-block;
	padding: 0 70px;
	text-transform: uppercase;

}

.projects {
	padding-top: 70px;
	padding-left: 5px;
	padding-bottom: 35px;
	margin-bottom: 81px;
}

.projects-element {
	display: inline-block;
	margin-right: 120px;
	vertical-align: middle;
}

.projects-element:nth-child(3n) {
	display: inline-block;
	margin-right: 0;
	width: 230px;
	vertical-align: middle;
}

.projects-element img {
	opacity: 0.2;
}

.projects-element img:hover,
.projects-element img:active {
	opacity: 1;
}

.map {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

.map-label {
	position: absolute;
	left: 839px;
	top: 112px;
}

.feedback {
	position: absolute;
	left: 160px;
	top: 88px;
	width: 210px;
	height: 240px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #ffffff;
}

.feedback p {
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 30px;
}

.feedback div {
	margin-bottom: 26px;
	font-family: 'Roboto', "Arial", sans-serif;
	font-size: 16px;

	line-height: 20px;
	color: #949494;
}

.feedback button {
	width: 100%;
	outline: none;
	border: none;
}

.feedback button:hover {
	background-color: #d6494d;
	cursor: pointer;
}


.social-element {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #e1e1e1;
	text-align: center;
}

.social-element:hover {
	background-color: #fb565a;
	cursor: pointer;
}

.social-element:active {
	background-color: #d6494d;
	box-shadow: inset 0 3px #b63e42;
}

.social-element img {
	position: absolute;
	top: 9px;
	left: 10px;
}

.social-vk img {
	top: 13px;
	left: 6px;
}

.social-fb img {
	top: 9px;
	left: 14px;
}

.discont strong {
	display: block;
	font-size: 36px;
	font-weight: 400;
}

/*-----catalog.html-----*/

.main-header-catalog {
	min-height: 330px;
}

.header-caption {
	padding-top: 65px;
	padding-bottom: 85px;
	text-align: center;
}

.header-caption h1 {
	margin: 0;
	font-size: 40px;
	font-weight: 400;
	line-height: 48px;
	text-transform: uppercase;
}

.catalog {
	padding-top: 75px;
}

.catalog-parameter {
	float: left;
	width: 240px;
	margin-right: 80px;
}

.catalog-parameter ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-parameter-grid label,
.features label {
	position: relative;
	display: inline-block;
	padding-left: 35px;
	padding-bottom: 27px;
	font-size: 16px;
	line-height: 20px;
}

.catalog-parameter-grid input,
.features input {
	display: none;
}

.radio-indicator  {
	position: absolute;
	width: 17px;
	height: 17px;
	border: 3px solid #c1c1c1;
	left: 0;
	top: -1px;
	border-radius: 14px;
}

input[type="radio"]:checked + .radio-indicator::before {
	position: absolute;
	content: "";
	width: 9px;
	height: 9px;
	top: 4px;
	left: 4px;
	background-color: #c1c1c1;
	border-radius: 4px;
}

.checkbox-indicator {
	position: absolute;
	width: 17px;
	height: 17px;
	border: 3px solid #c1c1c1;
	left: 0;
	top: 0;
}

input[type="checkbox"]:checked + .checkbox-indicator::before {
	position: absolute;
	content: "";
	width: 12px;
	height: 5px;
	top: 6px;
	left: 1px;
	background-color: #c1c1c1;
	transform: rotate(45deg);
}

input[type="checkbox"]:checked + .checkbox-indicator::after {
	position: absolute;
	content: "";
	width: 5px;
	height: 21px;
	top: -6px;
	left: 13px;
	background-color: #c1c1c1;
	transform: rotate(45deg);
}

.catalog-wrapper {
	float: right;
	width: 560px;
}

.sort {
	padding-top: 2px;
	margin-bottom: 21px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
}

.sort b {
	margin-right: 35px;
	color: #000000;
	font-weight: 400;
}

.sort a {

	text-decoration: none;
	color: #cacaca;
	border-bottom: 1px dotted #00ca74;
	margin-right: 42px;
	font-weight: 400;
}

.catalog-list-item {
	position: relative;
	display: inline-block;
	width: 240px;
	margin-bottom: 74px;
	margin-right: 80px;
}

.catalog-list-item:nth-child(2n) {
	margin-right: 0;
	margin-left: -4px;
}

.buy-menu {
	position: absolute;
	left: 20px;
	bottom: 25px;
	width: 140px;
	height: 140px;
	padding: 30px;
	background-color: #ffffff;
	color: #000000;
}

.maket-name {
	text-align: center;
	font-size: 18px;
	line-height: 30px;
}

.maket-description {
	text-align: center;
	font-size: 14px;
	line-height: 18px;
}

.maket-price {
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	text-align: center;
}

.catalog-list-item-decor {
	height: 26px;
	padding-left: 13px;
	padding-top: 4px;
	background-color: #f1f1f1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}

.catalog-list-item-decor strong {
	display: inline-block;
	margin-right: 4px;
	background-color: #ffffff;
	border-radius: 5px;
	width: 10px;
	height: 10px;
}


.catalog-btn {
/*	float: left;*/
	margin-bottom: 80px;
}

.catalog-btn button {
	font-size: 12px;
	line-height: 18px;
	font-weight: 700;
	padding: 8px 14px;
	margin-right: 6px;
	border-color: transparent;
	outline: none;
}

.catalog-btn button:hover {
	background-color: #e5e5e5;
}

.catalog-btn button:active {
	background-color: #d5d5d5;
	box-shadow: inset 0 3px #b5b5b5;
}

.btn-next  {
	text-transform: uppercase;
	width: 140px;
}

/*-------popup------*/
.modal-content {
	display: none;
	position: fixed;
	z-index: 10;
	top: 15%;
	left: 50%;
	margin-left: -230px;
	width: 460px;
	min-height: 315px;
	padding: 50px 90px 50px 80px;
	background: #ffffff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.modal-content-open {
	display: block;
}

.modal-content form {
	font-size: 16px;
	line-height: 18px;
	font-family: 'Roboto', "Arial", sans-serif;
	color: #000000;
}

.name-email {
	margin-bottom: 20px;
}

.name-email div {
	float: left;
	width: 220px;
}

.name-email div:first-child {
	margin-right: 20px;
}

.modal-content input {
	display: block;
	margin-top: 12px;
	padding: 9px 14px;
	width: 188px;
	border: 2px solid #d7dcde;
	font-size: 12px;
	line-height: 18px;
	font-family: 'Roboto', "Arial", sans-serif;
	outline: none;
}

.modal-content textarea {
	padding: 9px 14px;
	margin-top: 12px;
	margin-bottom: 48px;
	width: 428px;
	min-height: 92px;
	font-size: 12px;
	line-height: 18px;
	font-family: 'Roboto', "Arial", sans-serif;
	border: 2px solid #d7dcde;
	outline: none;
	resize: none;
}

.modal-content input:hover,
.modal-content textarea:hover {
	border-color: #a2a9ac;
}

.modal-content input:focus,
.modal-content textarea:focus {
	border-color: #56bffb;
}

.modal-content-close {
	position: absolute;
	top: 6px;
	right: 6px;
	font-size: 0;
	width: 41px;
	height: 41px;
	background: #fb565a;
	border: 0;
	outline: 0;
	border-radius: 20px;
}

.modal-content-close:hover,
.send-form:hover {
	background-color: #d6494d;
}

.modal-content-close::before, 
.modal-content-close::after {
	position: absolute;
	content: "";
	top: 18px;
	right: 7px;
	height: 5px;
	width: 27px;
	background-color: #ffffff;
}

.modal-content-close::after {
	transform: rotate(45deg);
}

.modal-content-close::before {
	transform: rotate(-45deg);
}

 .modal-content button.send-form {
	width: 100%;
	border: 0;
	outline: 0;
}

